

/* assets/custom.css */
.dash-table-container .dash-spreadsheet-container .dash-cell {
    height: calc(70vh / 21.5); /* 70vh dividido por el número de filas por página */
    min-height: 1px;
    max-height: 5px;
}


@font-face {
  font-family: 'DashboardFont'; /* Dale un nombre para usarla en tu app */
  src: url('ADDCN___.ttf') format('truetype'); /* Apunta al archivo de tu fuente */
}
/* 2. Aplica la fuente a toda la aplicación 
body {
  font-family: 'DashboardFont', sans-serif; Usa tu fuente. 'sans-serif' es un respaldo 
}



/* Opcional: Asegúrate de que los títulos también la usen */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DashboardFont', sans-serif;
}

.iracing-dropdown .Select-control {
    background-color: #323232 !important; /* Fondo gris oscuro */
    border: 1px solid #4A4A4A !important; /* Borde sutil un poco más claro */
    border-radius: 4px !important;
    box-shadow: none !important; /* Sin sombras */
}

/* Texto de la opción seleccionada */
.iracing-dropdown .Select-value-label {
    color: #E0E0E0 !important; /* Color de texto gris claro */
}

/* Flecha del dropdown */
.iracing-dropdown .Select-arrow {
    border-color: #E0E0E0 transparent transparent !important; /* Hace la flecha del color del texto */
}

/* Menú que se despliega */
.iracing-dropdown .Select-menu-outer {
    background-color: #323232 !important; /* Mismo fondo que el control */
    border: 1px solid #4A4A4A !important; /* Mismo borde */
    border-radius: 4px !important;
}

/* Estilo de cada opción en el menú */
.iracing-dropdown .Select-option {
    background-color: #323232 !important; /* Fondo de la opción */
    color: #E0E0E0 !important; /* Color del texto de la opción */
}

/* Estilo de la opción cuando el ratón está encima (hover) */
.iracing-dropdown .Select-option:hover {
    background-color: #4A4A4A !important; /* Un gris un poco más claro para el hover */
}

/* Estilo de la opción que está seleccionada/enfocada */
.iracing-dropdown .Select-option.is-focused {
    background-color: #4A4A4A !important;
}